{% extends 'index.html'%}
{% block temp %}
<center>
    <div class="w-100">
        <img src="https://images-platform.99static.com//ZSzj2hbWDXocPGSppZ4e90cHw2s=/0x0:1000x1000/fit-in/500x500/99designs-contests-attachments/89/89348/attachment_89348892" style="width: inherit;max-width:350px;">
    </div>
    <div class="col-md-12 py-5 text-break" style="font-family: 'Poppins', sans-serif; font-size: 50px;">
        NGO’s plays an significant role as we can see that state or the governmental bodies fail to function justly
    </div>
</center>

{% endblock %}

