{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style/ngoTemView.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/Loginpage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style/home.css' %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="row col-sm-12 d-flex justify-content-between ml-0 border align-items-center">

        <div class="col py-2-sm-3 d-flex justify-content-center align-items-center ">
            <a href="/"> <img class="rounded" style="
        width: inherit;
        max-width: 172px;
        height: inherit;
        max-height: 79px;" src="{% static 'img/1.png' %}" alt="">
            </a>
        </div>
        <div class="cls2 col-sm-5 py-2 d-flex justify-content-center align-items-center">

            <form action="/search/" method="POST" class="align-content-lg-center h-100 input-group m-0"
                style="height: 50px;">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Search" name="Search" value="Prerana" aria-label="Search"
                    aria-describedby="basic-addon2">
                <div class="input-group-append" style="height: 38px;">
                    <button class="btn btn-outline-secondary" type="submit"><i
                            class="fa-sharp fa-solid fa-magnifying-glass" style="color: #377ffb;"></i></button>
                </div>
            </form>


        </div>
        <div class="col-sm-3 py-2 d-flex justify-content-end align-items-center">
            <a href="/login">
                <button type="button" class="btn btn-outline-info">
                    <i class="fa-regular fa-user">
                    </i>
                    Login
                </button>
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-end pr-5 section">
        <div>

        </div>
    </div>
    <div class="container pt-5">
        {% block temp %}
        {% endblock %}  
    </div>
    <div class="footer bg-dark d-flex justify-content-center align-items-end pb-2" style="height:100px ; color:white;margin-top: 148px;">
        &#169; 2022-23
    </div>
</body>
<script src="https://kit.fontawesome.com/c153436894.js" crossorigin="anonymous"></script>

</html>