.login-box-feild{
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
}
.border-login{
    border-top:6px solid firebrick;
}
.avatar-login{
    height: 50px !important;
    width: 50px !important;
}
.width-96{
    width: 96px;
}